#!/usr/local/env bash

_otp_complete() {
  COMPREPLY=()

  if [ "$COMP_CWORD" -eq 1 ]; then
    # Insert ".*" inbetween all characters, to match in total wildcard fashion, keeping original "." characters
    local -r WORD="$(echo "${2}" | sed 's/.* //;s/\(.\)/\1.*/g' | sed 's/\.\./\\\.\./g')"
    COMPREPLY=($(compgen -W "$(otp -l | grep -i "${WORD}")"))
  fi
} && complete -F _otp_complete -o default otp

# Switch the brew PHP version
function phpswitch() {
  local -r PHPVERS="$(brew list | grep -E '^php\d{2}$')"
  if brew --prefix "php${1}" &>/dev/null; then
    # Has a valid version been passed?
    brew unlink "${PHPVERS}" &>/dev/null
    brew link "php${1}" &>/dev/null
    echo "Success!"
  else
    if [ ! -z "${1}" ]; then
      printf "Invalid selection! "
    fi
    echo "No change."
    echo "Available versions:"
    echo "${PHPVERS}"
  fi
  echo "Current PHP version: $(php <<< '<?php echo PHP_VERSION;')"
}

# Create symbolic links to all brew and MAMP php versions.
function phplinkify() {
  local PHPDIR

  # Symlinks for PHP brew
  local -r PHPDIRBREW="/usr/local/php-brew"
  rm -rf "${PHPDIRBREW}"
  mkdir -p "${PHPDIRBREW}"
  echo "Linkifying brew PHP versions..."
  for PHPVER in $(brew list | grep -E '^php\d{2}$'); do
    PHPDIR="$(brew --prefix "${PHPVER}")"
    ln -sf "${PHPDIR}" "${PHPDIRBREW}/${PHPVER}"
    ln -sf "${PHPDIR}/bin/php" "/usr/local/bin/${PHPVER}-brew"
    echo "- ${PHPVER}: ${PHPDIR}/bin/php -> /usr/local/bin/${PHPVER}-brew"
  done
  echo "Done!"
  echo

  # Symlinks for PHP MAMP
  local -r PHPDIRMAMP="/usr/local/php-mamp"
  rm -rf "${PHPDIRMAMP}"
  mkdir -p "${PHPDIRMAMP}"
  echo "Linkifying MAMP PHP versions..."
  # see: https://embraceubuntu.com/2005/10/19/list-only-the-directories/
  for PHPVER in $(find "/Applications/MAMP/bin/php"/*/ -type d -maxdepth 0 -print0 | xargs -0 basename | sed 's/\.//g' | cut -b 1-5); do
    local MAJOR="${PHPVER:3:1}"
    local MINOR="${PHPVER:4:1}"
    PHPDIR="/Applications/MAMP/bin/php/php${MAJOR}.${MINOR}*"
    ln -sf "${PHPDIR}" "${PHPDIRMAMP}/${PHPVER}"
    ln -sf "${PHPDIR}/bin/php" "/usr/local/bin/${PHPVER}-mamp"
    echo "- ${PHPVER}: ${PHPDIR}/bin/php -> /usr/local/bin/${PHPVER}-mamp"
  done
  echo "Done!"
}

# Output a stripped vagrant global-status and adds tab completion for vagrant box ids for custom vagrant aliases.
function vglobal-status() {
  local READING=0
  local STATUS=
  VAGRANT_MACHINE_IDS=

  case "${1}" in
    # Prune the vagrant boxes global status cache if requested.
    prune) vagrant global-status --prune >/dev/null 2>&1 ;;

    # Filter by status.
    aborted|poweroff|running|suspended) STATUS="${1}" ;;
  esac

  echo # Add some space for readability.

  while read -r LINE; do

    # Wait for the entries to start and stop when we reach the empty line.
    case "${LINE}" in
      "-"*) READING=1; continue ;; # Next line has the first id.
      "") break ;; # Looks like we've finished reading all the ids.
    esac

    # If we're not reading ids yet, get the next line.
    [ "${READING}" -eq 0 ] && continue

    # Get the id from this line and add it to the array.
    local -r ID="$(echo "${LINE}" | awk '{print $1}')"
    VAGRANT_MACHINE_IDS="${VAGRANT_MACHINE_IDS} ${ID}"

    # Output the current line.
    [[ -z "${STATUS}" || "${LINE}" = *" ${STATUS} "* ]] && echo "${LINE}"

  done < <(vagrant global-status)

  # Auto complete commands.
  complete -o "nospace" -W "${VAGRANT_MACHINE_IDS}" vdestroy vhalt vprovision vreload vresume vssh vssh-config vstatus vsuspend vup

  complete -o "nospace" -W "box connect destroy global-status halt help init login package plugin port powershell provision push rdp reload resume share snapshot ssh ssh-config status suspend up version" vagrant
  complete -o "nospace" -W "aborted poweroff running suspended prune" vglobal-status

  # source: http://stackoverflow.com/a/5303225
  _vbox_complete() {
    COMPREPLY=()

    if [ "$COMP_CWORD" -eq 1 ]; then
      COMPREPLY=($(compgen -W "add list outdated remove repackage update" -- "${2}"))
    elif [ "$COMP_CWORD" -eq 2 ]; then
      case "${3}" in
        outdated|update) COMPREPLY=($(compgen -W "${VAGRANT_MACHINE_IDS}" -- "${2}")) ;;
      esac
    fi

    return 0
  } && complete -F _vbox_complete vbox

  _vsnapshot_complete() {
    COMPREPLY=()

    if [ "$COMP_CWORD" -eq 1 ]; then
      COMPREPLY=($(compgen -W "delete list pop push restore save" -- "${2}"))
    elif [ "$COMP_CWORD" -eq 2 ]; then
      case "${3}" in
        list) COMPREPLY=($(compgen -W "${VAGRANT_MACHINE_IDS}" -- "${2}")) ;;
      esac
    fi

    return 0
  } && complete -F _vsnapshot_complete vsnapshot

  echo # Add some space for readability.
}

# Create a new directory and enter it
function mkd() {
  if [ "$#" -eq 0 ]; then echo "Usage: mkd directory [directory..]"; return 1; fi

  mkdir -p "$@" && cd "$_" || exit;
}

# Show the history and execute any entry by passing it's entry number
function h() {
  if [ -z "${1}" ]; then
    eval "history"
    return 0
  fi

  local -r CMD="$(history | sed -n -E "s/^\ *${1}\ *(.*)$/\1/p")"

  if [ -z "${CMD}" ]; then
    echo "Invalid entry: ${1}"
    return 1
  fi

  read -r -p "Execute '${CMD}'? (Y/n): " REPLY < /dev/tty
  case "${REPLY:-y}" in
    Y|y) eval "${CMD}" ;;
    *) echo "Cancelled" ;;
  esac
}

# Create a new temporary directory and enter it
HOMETMP="${HOME}/.tmp"
function t() {
  if [ -z "${1}" ]; then
    mkdir -p "${HOMETMP}/$(rnd 8)" && cd "$_" || exit
    return 0
  fi

  if [ -d "${HOMETMP}/${1}" ]; then
    cd "${HOMETMP}/${1}" || exit
  else
    echo "Invalid tmp folder!"
  fi
}
_t_complete() {
  # Insert ".*" inbetween all characters, to match in total wildcard fashion
  local -r WORD="$(echo "${2}" | sed 's/.* //;s/\(.\)/\1.*/g')"
  COMPREPLY=($(compgen -W "$(find "${HOMETMP}"/* -type d -maxdepth 0 -print0 | xargs -0 basename | sed 's/\.//g' | grep -i "${WORD}")"))
} && complete -F _t_complete t

# Output a random string with the length of the first param, or 32 by default
function rnd() {
  echo "$(LC_ALL=C; < /dev/urandom tr -dc 'a-zA-Z0-9' | fold -w "${1:-32}" | head -n 1)"
}

# Extract ANY compressed file.
# source: https://github.com/xvoland/Extract/blob/master/extract.sh
function extract() {
  if [ -z "${1}" ] ; then
    echo "Usage: extract file.<7z|bz2|exe|gz|lzma|rar|tar|tar.bz2|tar.gz|tar.xz|tbz2|tgz|xz|Z|zip>"
    return 1
  elif [ ! -f "${1}" ]; then
    echo "File not found: '${1}'"
    return 1
  else
    local -r NAME="${1%.*}"
    mkdir "${NAME}" && cd "${NAME}" || exit
    case "${1}" in
      *.tar.bz2) tar xvjf "../${1}"                              ;;
      *.tar.gz)  tar xvzf "../${1}"                              ;;
      *.tar.xz)  tar xvJf "../${1}"                              ;;
      *.tbz2)    tar xvjf "../${1}"                              ;;
      *.tgz)     tar xvzf "../${1}"                              ;;
      *.tar)     tar xvf "../${1}"                               ;;
      *.bz2)     bunzip2 "../${1}"                               ;;
      *.gz)      gunzip "../${1}"                                ;;
      *.rar)     unrar x -ad "../${1}"                           ;;
      *.exe)     cabextract "../${1}"                            ;;
      *.lzma)    unlzma "../${1}"                                ;;
      *.7z)      7z x "../${1}"                                  ;;
      *.xz)      unxz "../${1}"                                  ;;
      *.Z)       mv "../${1}" . && uncompress "${1}"             ;;
      *.zip)     unzip "../${1}"                                 ;;
      *)         echo "extract: '${1}' - unknown archive method" ;;
    esac
  fi
}

# Change working directory to the top-most Finder window location
function cdf() { # short for $(cdfinder)
  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')" || exit
}

# Create a .tar.gz archive, using zopfli, pigz or gzip for compression
function targz() {
  local -r TMPFILE="${1}_$(date +%y%m%d).tar"
  tar -cvf "${TMPFILE}" --exclude=".DS_Store" "${@}" || return 1

  local -r SIZE=$(
    stat -f"%z" "${TMPFILE}" 2>/dev/null; # OS X stat
    stat -c"%s" "${TMPFILE}" 2>/dev/null # GNU stat
  )

  local CMD="gzip"
  if (( SIZE < 52428800 )) && hash zopfli 2>/dev/null; then
    # the .tar file is smaller than 50 MB and Zopfli is available, use it
    CMD="zopfli"
  elif hash pigz 2>/dev/null; then
    CMD="pigz"
  fi

  echo "Compressing .tar using '${CMD}'..."
  "${CMD}" -v "${TMPFILE}" || return 1
  [ -f "${TMPFILE}" ] && rm "${TMPFILE}"
  echo "${TMPFILE}.gz created successfully."
}

# Compare original and gzipped file size
function gz() {
  local -r ORIGSIZE="$(wc -c < "$1")"
  local -r GZIPSIZE="$(gzip -c "$1" | wc -c)"
  local -r RATIO="$(echo "${GZIPSIZE} * 100 / ${ORIGSIZE}" | bc -l)"

  printf "orig: %d bytes\n" "${ORIGSIZE}"
  printf "gzip: %d bytes (%2.2f%%)\n" "${GZIPSIZE}" "${RATIO}"
}

# Determine size of a file or total size of a directory
function fs() {
  local ARG="-sh"

  if command du -b/dev/null >/dev/null 2>&1; then
    ARG="-sbh"
  fi
  if [[ -n "$@" ]]; then
    command du "${ARG}" -- "$@"
  else
    command du "${ARG}" .[^.]* ./*
  fi
}

# Create a data URL from a file
function dataurl() {
  if [ ! -f "${1}" ]; then echo "Usage: dataurl file"; return 1; fi

  local MIMETYPE
  MIMETYPE="$(file -b --mime-type "${1}")"

  if [[ "${MIMETYPE}" == text/* ]]; then
    MIMETYPE="${MIMETYPE};charset=utf-8"
  fi
  echo "data:${MIMETYPE};base64,$(openssl base64 -in "${1}" | tr -d '\n')"
}

# Create a git.io short URL
function gitio() {
  if [ -z "${1}" ] || [ -z "${2}" ]; then echo "Usage: gitio slug url"; return 1; fi

  curl -i "https://git.io/" -F "code=${1}" -F "url=${2}"
}

# Start a PHP server from a directory, optionally specifying the port
# (Requires PHP 5.4.0+.)
function phpserver() {
  local -r PORT="${1:-4000}"
  local -r IP="$(ipconfig getifaddr en1)"

  sleep 1 && open "http://${IP}:${PORT}/" &
  php -S "${IP}:${PORT}"
}

# Run dig and display the most useful info
function digga() {
  if [ -z "${1}" ]; then echo "Usage: digga domain"; return 1; fi

  dig +nocmd "${1}" any +multiline +noall +answer
}

# s with no arguments opens the current directory in Sublime Text, otherwise opens the given location
function s() {
  local -r SUBL="/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl"
  if [ "$#" -eq 0 ]; then "${SUBL}" .; else "${SUBL}" "$@"; fi
}

# o with no arguments opens the current directory, otherwise opens the given location
function o() {
  if [ "$#" -eq 0 ]; then open .; else open "$@"; fi
}

# Clone a simple chassis to the passed project folder.
function load_chassis() {
  if [ -z "${1}" ]; then echo "Usage: load_chassis project_folder"; return 1; fi

  local PROCEED=true

  # Create the project directory, change into it and remember it to change back when we're done.
  mkdir -p "$1" && pushd "$_" >/dev/null

  echo "Project folder used: $(pwd)"

  # If the projectdir isn't empty, pop the question to delete all the files.
  local -r FILELIST=$(ls -A)

  if [ -n "${FILELIST}" ]; then
    # Ask the question - use /dev/tty in case stdin is redirected from somewhere else.
    read -r -p "Project folder isn't empty! Delete everything in it and setup Chassis? [y/N] " REPLY < /dev/tty

    case "$REPLY" in
      Y|y) rm -rf "${FILELIST}" ;;
      *) PROCEED=false ;;
    esac
  fi

  if "${PROCEED}"; then
    echo "Cloning Chassis..."
    git clone --depth=1 --recursive "https://github.com/Chassis/Chassis.git" .
    git clone --depth=1 --recursive "https://github.com/Chassis/phpMyAdmin.git" "extensions/phpmyadmin"
  else
    echo "Cancelled."
  fi

  # Change back to previous folder.
  popd >/dev/null
}

# Get a fresh background every day.
function daily_background() {
  local -r DEST="/usr/local/share/backgrounds/daily-$(date +%y%m%d).jpg"
  local -r PIC="https://source.unsplash.com/category/nature/daily"

  if [[ ! -f "${DEST}" || ! -s "${DEST}" || "${1}" == "-f" ]]; then
    # Make sure we have a working internet connection.
    dig +short myip.opendns.com @resolver1.opendns.com &>/dev/null || return 1;

    curl -Ls "${PIC}" -o "${DEST}" &>/dev/null
    sqlite3 "${HOME}/Library/Application Support/Dock/desktoppicture.db" "update data set value = '${DEST}'"
    killall Dock
  fi
}

# Write an image to disk
function img2disk() {
  local -r IMG="${1}"
  local -r DSK="${2}"

  if [ -z "${IMG}" ] || [ -z "${DSK}" ]; then
    echo "Usage: img2disk <path/image>.<img|zip|xz> <path/disk>"
    return 1
  elif [ ! -f "${IMG}" ] ; then
    echo "${IMG} - file not found"
    return 1
  elif [ ! -c "${DSK}" ] ; then
    echo "${DSK} - disk not found"
    return 1
  else
    diskutil unmountDisk "${DSK}"

    case "${IMG}" in
      *.zip)  echo "Compressed zip file"
              SIZE=$(unzip -l "${IMG}" | tail -1 | awk '{print $1}')
              CMD="unzip -p ${IMG}"
              ;;
      *.xz)   echo "Compressed unxz file"
              SIZE=$(unxz --robot -l "${IMG}" | tail -1 | awk '{print $5}')
              CMD="unxz -c ${IMG}"
              ;;
      *)      echo "Uncompressed file"
              SIZE=$(wc -c "${IMG}" | awk '{print $1}')
              CMD="cat ${IMG}"
              ;;
    esac
    echo "File Size:    ${SIZE}"
    echo "Command:      ${CMD}"
    echo "Full Command: pv -tprebs ${SIZE} <(${CMD}) | sudo dd bs=8m of=${DSK}"

    pv -tprebs "${SIZE}" <("${CMD}") | sudo dd bs=8m of="${DSK}"

    diskutil eject "${DSK}"
  fi

  echo 'Done!'
}
